################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Dashboard/FileContentIndex/00c67f2d-3d9b-422d-8407-130f204df91e.vsidx
/.vs/Dashboard/FileContentIndex/10fbec19-1471-406d-97d3-02565886195f.vsidx
/.vs/Dashboard/FileContentIndex/4601edd4-87c5-4f1d-b32d-5937a0dde3d7.vsidx
/.vs/Dashboard/FileContentIndex
